*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*::before {
    box-sizing: border-box;
  }
   
  *::after {
    box-sizing: border-box;
  }
html{
    background-color: black;
}
body{
    width: 80%;
    margin: 0 auto;
}
/* ハンバーガーメニュー */

.drawer{
}
.drawer-hidden{
    display: none;
}

.drawer-open span,
.drawer-open span:before,
.drawer-open span:after{
    content: "";
    display: block;
    z-index: 1000;
    height: 0.2rem;
    width: 2rem;
    background-color:white;
    position: absolute;
    transition: 0.5s;
}
.drawer-open::after{
    content: "menu";
    color: white;
    position: relative;
    bottom: 0.5em;
    left: 3em;
    font-size: 0.7em;
}
.drawer-open span:before{
    top: 0.6rem;
}
.drawer-open span:after{
    bottom:0.6rem;
}
.drawer-open span.change-color{
    background-color: black;
}
.drawer-open span.change-color:before{
    background-color: black;
}
.drawer-open span.change-color::after{
    background-color: black;
}
#drawer-check:checked ~ .drawer-open span{
    background-color: rgb(255, 255, 255,0);
}
#drawer-check:checked ~ .drawer-open span::before{
    transform: rotate(45deg);
    top: 0;
}
#drawer-check:checked ~ .drawer-open span::after{
    transform: rotate(-45deg);
    bottom: 0;
}

.drawer-content{
    z-index: 102;
    width: 40vw;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 150%;
    background-color:black;
    color: white;
    opacity: 0.7;
    transition: 0.5s;
    text-align: center;
    padding-top: 10%;
    padding-right: 10%;
    font-size: 2em;
    line-height: 2em;
    font-family: 'Arial Black',sans-serif;;

}
.drawer-content ul li{
    list-style: none;
}

.drawer-list a{
    text-decoration: none;
    color: white;
}
.drawer-content a:hover{
    opacity: 0.8;
    text-decoration: underline;
    transition: 0.3s;
}
.drawer-items{
}
#drawer-check:checked ~ .drawer-content{
    right: 0;
}
.drawer-open{
    position: fixed;
    bottom: -10rem;
    top: 5rem;
    right: 8rem;
    z-index: 130;
    cursor: pointer;
    height: 60px;
    width: 60px;
}
.drawer-close {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color:black;
    top: 0;
    left: 100%;
    z-index: 99;
    transition: .5s;
    opacity: 0.5;
  }
  
  #drawer-check:checked ~ .drawer-close {
    left: 0;
  }
  .header{
    position: relative;
    width: 100%;
    height: 50vh;
    background:linear-gradient(90deg,white 0%,white 50%,black 100%);
}
.header-image{
    width: 86.5%;
    height: 40vh;
    background-size: cover;
    background-image: url(images/photo-of-people-looking-on-tablet-1.png);
    object-fit: cover;
    background-position: center;
    filter: brightness(75%);
}
.top-img{
    color: white;
    position: absolute;
    top: 40%;
    left: 65%;
}
.top-img h1{
    font-size: 3.5em;
}
.header-logo{
    z-index: 3;
    position:fixed;
    top:5%;
    left: 10%;
}
.header-logo img{
    width: 120%;
    filter: drop-shadow(5px 5px 10px #666);
}

/* main */

main{
    background-color: #fff;
}



/* footer */
footer{
    background-color:black;
    height: 3rem;
    margin: 0;
}
footer p{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #525252;
    color:white;
    font-size: 0.2em;
}
form{
    width: 50%;
    margin: 0 auto;
}
.contact-kinds p{
    margin-bottom: 1rem;
    font-size: 0.75em;
}
.contact-kinds p::after{
    content: "必須";
    font-size: 0.4em;
    margin-left: 2rem;
    background-color: black;
    color: white;
    padding: 0.2rem 0.4rem;
}
.last-wrapper div{
    margin-bottom: 2rem;
}
input:focus{
    background-color:#CECEF6;
}
.last-p{
    width: 50%;
    margin: 0 auto;
    font-size: 0.75em;
    opacity: 0.8;
    padding-top: 5rem;
    margin-bottom: 3rem;
    line-height: 1.2rem;
}
.contact-kinds label{
    font-size: 0.75em;
    margin-right: 2rem;
}


.contact-kinds{
    position: relative;
}
.Radio{
    padding: 12px 8px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    cursor: pointer;
}
.radio-wrapper{
    display: flex;
    flex-wrap: nowrap;
}
@media(max-width:700px){
    .radio-wrapper{
        display: block;
    }
    .contact-kinds p::after{
        position: absolute;
        top: 0;
        left: 60%;
    }
    form{
        width: 80%;
    }
    body{
        width: 100%;
    }
}
.Radio-Input {
    opacity: 0;
    width: 0;
    margin: 0;
}
.Radio:hover > .Radio-Text{
    background: #BBBBBB;
}
.Radio-Input:focus + .Radio-Text{
    background: #BBBBBB;
}
.Radio-Input:checked + .Radio-Text{
    background: black}
.Radio-Input:checked + .Radio-Text::before{
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0.4rem;
    height: 0.4rem;
    border-radius: 50%;
    background: #FFFFFF;
}
 
.Radio-Text {
    position: relative;
    top: 0;
    left: 0;
    display: inline-block;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background: #EEEEEE;
    box-shadow: 0 1px 4px rgba(0,0,0, .4) inset;}

.Label-Text{
    flex: 1;
    margin-left: 12px;
    font-size: 18px;
    font-weight: bold;
}

.question p{
    margin-bottom: 0.6rem;
    font-size: 0.7em;
}
.company-name span{
    display: inline-block;
    margin-bottom: 0.6rem;
    font-size: 0.7em;
}
.question input{
    width: 100%;
    height: 2rem;
}
.question p::after{
    content: "必須";
    font-size: 0.4em;
    margin-left: 3%;
    background-color: black;
    color: white;
    padding: 0.2rem 0.4rem;
}
.contact-contents #contact{
    height: 10rem;
    width: 100%;
} 
.contact-contents #contact:focus{
    background-color: #CECEF6;
}
.privacy-policy{
    text-align: left;
}
.privacy-policy span{
    display: inline-block;
    overflow:scroll;
    overflow-x: hidden;
    width: 100%;
    height: 10rem;
    border: 1px solid black;
    font-size: 0.85em;
    opacity: 0.8;
    padding: 1rem;

}
.last-check{
    text-align: center;
}
.send{
    margin-top: 2rem;
    margin-bottom: 6rem;
    padding: 0.4rem 3.5rem;
    font-size: 0.7em;
    background-color: black;
    color: white;
    border: none;
    outline: none;
}

.red{
    color: red;
    background-color: red;
}

